body {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  background-color:  #7f052a;  
  padding-top: 40px;
  padding-bottom: 20px;
  font: verdana;
}

h1 {
  font: bold 30px verdana, sans-serif;
} 

.logo {
  width: 120px;
  height: 120px;
}

.cont-galeria {
  margin-top: 100px;
  background-color: white;
  border-radius: 5px;
}

.navbar-down {
  padding: 40px;
}

/*Carrusel*/

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 50px;
  height: 40px;
  font-size: 60px;  
}

.carousel-control.right {
  left: auto;
  right: 30px;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #337ab7;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

.item {
  width: auto;
  height: 500px;
}

.thumbnail {
  margin-top: 10px;
  color: #343643;
}

.indicador {
  float: left;
  font-size: 30px; 
  padding-right: 20px;
  padding-left: 20px;
}

.titulos {
  border-bottom: 2px solid #7f052a; 
  text-transform: uppercase;
  clear: left;
}

.titulos p {
  font-size: 12px;
}

.parrafos {
  padding: 20px;
  text-align: justify;
}

.informacion {
  text-align: justify;
  font-size: 15px;
}

.footer img {
  text-align: center;
  width: 100px;
  height: 100px;
}

.autor {
  clear: both;
  text-align: center;
  padding-top: 10px;
  border-top: 2px solid #7f052a;
}

/* Menu - Submenus barra de navegacion*/

.navbar-default .navbar-nav>li>a:hover{
  color: white;
  font-weight: 10px;
}

ul, ol {
  list-style:none;
}
 
ul li {
  display:inline-block;
  position: relative;
}
 
ul li:hover {
  background-color:#7f052a;
}

li ul {
  display:none;
  position:absolute;
  min-width:180px;
}
 
ul li a {
  color:#777;
  display:block;
  text-decoration:none;
  padding:10px 12px;
}
 
ul li:hover .compsubmenu {
  display:block;
  color:white;
}
 
ul li .compsubmenu {
  display: none;
  background:white;
  position: absolute;
  width: 100%;
}
 
ul li .compsubmenu li {
  display:block;
  overflow: hidden;;
}
 
ul li .compsubmenu li a {
  display: block;
  text-decoration: none;  
}

ul li .compsubmenu li a:hover {
  color: white;
  font-weight: 10px
}

/*Google maps*/
#google_map {
  height: 400px;
}


/* Responsive Design*/
@media (max-width: 768px) {
  
  .logo {
    width: 100px;
    height: 100px;
  }

  .navbar-toggle {
    margin-top: 50px;    
  }

  .navbar-down {
    padding: 0px;
    text-align: center;
  }

  .cont-galeria {
    margin-top: 80px;
    background-color: white;
    border-radius: 5px;
  }

  .item {
    width: auto;
    height: auto;
  }

  .carousel-control {
    position: absolute;
    top: 40%;
    left: 10px;
    width: 20px;
    height: 20px;
    font-size: 30px;  
  }

  .carousel-control.right {
    left: auto;
    right: 15px;
  }

  .titulo{
    font-size:16px;
  }

  p {
    font-size: 10px;
  }

  .indicador {
    font-size: 15px;
  }

  .footer img {
    text-align: center;
    width: 50px;
    height: 50px;
  }

  .contacto {
    padding: 10px;
    text-align: center;
  }

  /*Submenus*/

  ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
  }
 
  ul li a {
    display: block;
  }
 
  ul li:hover .compsubmenu {
    display: none;
  }
 
  ul li .compsubmenu {
    width: 100%;
    position: relative;
  }
 
  ul li .compsubmenu li a {
    margin-left:20px;
  }
 
  ul li .caret {
    float: right;
  }

}

