body {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  background-color:  #7f052a;  
  padding-top: 40px;
  padding-bottom: 20px;
  font: verdana;
  position: relative;
}

h1 {
  font: bold 30px verdana, sans-serif;
} 

.logo {
  width: 120px;
  height: 120px;
}

.cont-galeria {
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.navbar-down {
  padding: 40px;
}

/*Carrusel*/

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 50px;
  height: 40px;
  font-size: 60px;  
}

.carousel-control.right {
  left: auto;
  right: 30px;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #337ab7;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

.item {
  width: auto;
  height: 500px;
}

.thumbnail {
  margin-top: 10px;
  color: #343643;
}

.indicador {
  float: left;
  font-size: 30px; 
  padding-right: 20px;
  padding-left: 20px;
}

.titulos {
  border-bottom: 2px solid #7f052a; 
  text-transform: uppercase;
  clear: left;
}

.titulos p {
  font-size: 12px;
}

.parrafos {
  padding: 20px;
  text-align: justify;
}

.informacion {
  text-align: justify;
  font-size: 15px;
}

.footer img {
  text-align: center;
  width: 100px;
  height: 100px;
}

.autor {
  clear: both;
  text-align: center;
  padding-top: 10px;
  border-top: 2px solid #7f052a;
}

/* Menu - Submenus barra de navegacion*/

.navbar-default .navbar-nav>li>a:hover{
  color: white;
  font-weight: 10px;
}

ul, ol {
  list-style:none;
}
 
ul li {
  display:inline-block;
  position: relative;
}
 
ul li:hover {
  background-color:#7f052a;
}

li ul {
  display:none;
  position:absolute;
  min-width:180px;
}
 
ul li a {
  color:#777;
  display:block;
  text-decoration:none;
  padding:10px 12px;
}
 
ul li:hover .compsubmenu {
  display:block;
  color:white;
}
 
ul li .compsubmenu {
  display: none;
  background:white;
  position: absolute;
  width: 100%;
}
 
ul li .compsubmenu li {
  display:block;
  overflow: hidden;;
}
 
ul li .compsubmenu li a {
  display: block;
  text-decoration: none;  
}

ul li .compsubmenu li a:hover {
  color: white;
  font-weight: 10px
}

/*Google maps*/
#google_map {
  height: 400px;
}

.cont-banner {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;   
}

.banner {
  border-style: ridge;
  border-radius: 10px; 
  margin-bottom: 5px;
  padding: 5px;  
  line-height: 5px;
  text-align: center;
}

.banner:hover { 
  background-color: #D9587F;    
  border: 2px solid #D9587F;
  font-weight: bold;
}

.banner a { 
  color: black;
  text-decoration: none;
}

.boton-arriba {
  font-size: 50px;
  right: 50px;
}

.boton-arriba:hover,
.boton-arriba:focus {
  color: #337ab7;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

.contact_form h2, .contact_form label {
  font-family:Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
  font-size: 11px;
}

.contact_form {
    width:80%;
    margin:auto;
    padding:12px; 
}

.contact_form input {
    margin: 10px;
    height:50px; 
    width:98%; 
    padding:5px 8px;
}

 #comments {
    margin: 10px;
    height:100px; 
    width:98%; 
    padding:5px 8px;   
 }

:-moz-placeholder {
    color: #7f052a;
}
 
::-webkit-input-placeholder {
    color: #7f052a;
}

.contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
    margin-left: 400px;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
     
}

/* Responsive Design*/
@media (max-width: 768px) {
  
  .logo {
    width: 100px;
    height: 100px;
  }

  .navbar-toggle {
    margin-top: 50px;    
  }

  .navbar-down {
    padding: 0px;
    text-align: center;
  }

  .cont-galeria {
    margin-top: 80px;
    background-color: white;
    border-radius: 5px;
  }

  .item {
    width: auto;
    height: auto;
  }

  .carousel-control {
    position: absolute;
    top: 40%;
    left: 10px;
    width: 20px;
    height: 20px;
    font-size: 30px;  
  }

  .carousel-control.right {
    left: auto;
    right: 15px;
  }

  .titulo{
    font-size:16px;
  }

  p {
    font-size: 10px;
  }

  .indicador {
    font-size: 15px;
  }

  .footer img {
    text-align: center;
    width: 50px;
    height: 50px;
  }

  .contacto {
    padding: 10px;
    text-align: center;
  }

  /*Submenus*/

  ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
  }
 
  ul li a {
    display: block;
  }
 
  ul li:hover .compsubmenu {
    display: none;
  }
 
  ul li .compsubmenu {
    width: 100%;
    position: relative;
  }
 
  ul li .compsubmenu li a {
    margin-left:20px;
  }
 
  ul li .caret {
    float: right;
  }

  .cont-banner {
    margin: 5px;     
  }

  button.submit {
    margin-left: 15px;
  }

}

