body {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #337ab7;
  padding-top: 40px;
  padding-bottom: 20px;
}

.btn-primary{
  background-color: #B6262E;  
}

p {
  text-align: justify;
}

.banner {
  display:block;
  padding:4px;
  
  line-height:1.42857143;
  background-color:red;
  border:1px solid #ddd;
  border-radius:4px;
  -webkit-transition:border .2s ease-in-out;
  -o-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out

}

.navbar-down {
  padding-top: 100px;
  padding-right: 30px;
}

/* Responsive Barra de Navegacion*/
@media (max-width: 768px) {
  
  .navbar {
    background-color: red;
  }

  .navbar-down {
    padding: 0px;
  }
}

#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

