body {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  background-color:  #7f052a;  
  padding-top: 40px;
  padding-bottom: 20px;
  font: verdana;
}

h1 {
  font: bold 30px verdana, sans-serif;
} 

.logo {
  width: 120px;
  height: 120px;
}

.cont-galeria {
  margin-top: 100px;
  background-color: white;
  border-radius: 5px;
}

.navbar-down {
  padding: 40px;
}

/*Carrusel*/

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 50px;
  height: 40px;
  font-size: 60px;  
}

.carousel-control.right {
  left: auto;
  right: 30px;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #337ab7;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

.item {
  width: auto;
  height: 500px;
}

.thumbnail {
  margin-top: 10px;
  color: #343643;
}

.fa-thumb-tack {
  float: left;
  font-size: 30px; 
  padding-right: 20px;
  padding-left: 20px;
}

.titulos {
  border-bottom: 2px solid #7f052a; 
  text-transform: uppercase;
  clear: left;
}

.titulos p {
  font-size: 12px;
}

.informacion {
  text-align: justify;
  font-size: 15px;
}

/* Responsive Design*/
@media (max-width: 768px) {
  
  .logo {
    width: 100px;
    height: 100px;
  }

  .navbar-toggle {
    margin-top: 50px;    
  }

  .navbar-down {
    padding: 0px;
    text-align: center;
  }

  .cont-galeria {
    margin-top: 80px;
    background-color: white;
    border-radius: 5px;
  }

  .item {
    width: auto;
    height: auto;
  }

  .carousel-control {
    position: absolute;
    top: 40%;
    left: 10px;
    width: 20px;
    height: 20px;
    font-size: 30px;  
  }

  .carousel-control.right {
    left: auto;
    right: 15px;
  }

  .titulo{
    font-size:16px;
  }

  p {
    font-size: 10px;
  }

}

#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

